@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"); /* encabezado y barra de navegacion */
.navGeneral {
  background-color: #1B2845;
}
.navGeneral header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0px;
}
.navGeneral header a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}
.navGeneral header a h1 {
  margin-left: 1.75rem;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}
.navGeneral header ul li a {
  color: #fff;
  transition: all 0.5s;
}
.navGeneral header ul li a:hover {
  transform: scale(1.5);
}

/* contenido principal del index */
.indexGeneral {
  text-align: center;
  background-color: #000020;
}
.indexGeneral main {
  display: flex;
  justify-content: center;
}
.indexGeneral main .section1 {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.indexGeneral main .section1 img {
  width: 25rem;
}
.indexGeneral main .seccion2 {
  display: grid;
  grid-template-areas: "hijo1" "hijo2";
}
.indexGeneral main .seccion2 .hijo1 {
  grid-area: hijo1;
  color: #fff;
  padding: 3rem 0;
  margin: 1rem 0;
  font-style: italic;
}
.indexGeneral main .seccion2 .hijo1 .nombre {
  color: #5899e2;
}
.indexGeneral main .seccion2 .hijo2 {
  grid-area: hijo2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
.indexGeneral main .seccion2 .hijo2 a {
  width: 4rem;
  transition: all 0.2s;
}
.indexGeneral main .seccion2 .hijo2 a:hover {
  transform: rotate(20deg);
}

/* contenido principal de experiencia */
.expGeneral {
  background-color: #000020;
}
.expGeneral .seccion1 {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
}
.expGeneral .seccion1 .texto h2 {
  font-style: italic;
  color: #fff;
}
.expGeneral .seccion1 .texto p {
  margin: 1rem 0;
  color: #fff;
}
.expGeneral .seccion1 .imagen {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.expGeneral .seccion1 .imagen img {
  width: 16.25rem;
  height: 10rem;
}
.expGeneral .seccion2 {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
}
.expGeneral .seccion2 .imagen {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.expGeneral .seccion2 .imagen img {
  width: 16.25rem;
  height: 10rem;
}
.expGeneral .seccion2 .texto h2 {
  font-style: italic;
  color: #fff;
}
.expGeneral .seccion2 .texto p {
  margin: 1rem 0;
  color: #fff;
}

/* contenido principal de formacion */
.formGeneral {
  background-color: #000020;
}
.formGeneral main {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
}
.formGeneral main div {
  background-color: #1B2845;
  margin: 1rem 0;
  width: 18rem;
}
.formGeneral main div img {
  height: 10, 625rem;
}
.formGeneral main div div {
  margin-top: 1rem;
  width: 16rem;
  text-align: center;
}
.formGeneral main div div p {
  color: #fff;
  font-style: italic;
}

/* contenido principal de contacto */
.contGeneral {
  background-color: #000020;
}
.contGeneral main {
  margin: 3rem 0;
}
.contGeneral main .formulario div {
  margin-bottom: 1rem;
}
.contGeneral main .formulario div textarea {
  height: 14.5rem;
}
.contGeneral main .t-formulario {
  text-align: left;
}
.contGeneral main .t-formulario span {
  color: #fff;
  font-style: italic;
  font-size: 20px;
}

/* contenido principal de adicional */
.adiGeneral {
  background-color: #000020;
}
.adiGeneral main div {
  padding: 3rem 0 1rem;
}
.adiGeneral main div iframe {
  height: 500px;
}
.adiGeneral main p {
  color: #fff;
  padding: 1rem;
  font-style: italic;
  font-size: 20px;
}

/* pie de pagina */
.footGeneral {
  background-color: #1B2845;
}
.footGeneral footer {
  padding: 1rem 0;
}
.footGeneral footer h6 {
  color: #fff;
}
.footGeneral footer div a {
  margin: 1rem;
}
.footGeneral footer div a i {
  color: #fff;
}

body {
  background-color: #000020;
}

/*# sourceMappingURL=estilo.css.map */
