@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
/* encabezado y barra de navegacion */
.navGeneral header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0px;
}
.navGeneral header a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}
.navGeneral header a h1 {
  color: rgba(74, 74, 210, 0.978);
  font-size: 25px;
}
.navGeneral header a h1 img {
  height: 50px;
  margin: 0;
  padding: 0;
}
.navGeneral header ul li a {
  font-family: "Barlow", sans-serif;
  color: #fff;
  transition: all 0.5s;
  font-size: 1.5rem;
}
.navGeneral header ul li a:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navGeneral {
    position: relative;
    min-height: 48px;
  }
  .navGeneral input:checked ~ header {
    display: block;
  }
  .navGeneral input:checked ~ .bi-list {
    display: none;
  }
  .navGeneral input:not(:checked) ~ .bi-x {
    display: none;
  }
  .navGeneral input[type=checkbox] {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    opacity: 0;
  }
  .navGeneral .bi-list {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    font-size: 48px;
    pointer-events: none;
    color: #fff;
  }
  .navGeneral .bi-x {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    font-size: 48px;
    pointer-events: none;
    color: #fff;
  }
  .navGeneral header {
    display: none;
  }
  .navGeneral header a {
    display: block;
    max-width: 200px;
    font-variant: small-caps;
  }
}
@media (min-width: 769px) {
  input {
    display: none;
  }
  .bi-list {
    display: none;
  }
  .bi-x {
    display: none;
  }
}
/* contenido principal del index */
.indexGeneral {
  text-align: center;
}
.indexGeneral main {
  display: flex;
  justify-content: center;
}
.indexGeneral main .seccion1 {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.indexGeneral main .seccion1 img {
  height: max-content;
  border-radius: 50%;
}
.indexGeneral main .seccion2 .hijo1 {
  color: #fff;
  padding: 3rem 0;
  margin: 1rem 0;
  font-size: 25px;
  font-weight: normal;
}
.indexGeneral main .seccion2 .hijo1 .nombre {
  color: #4288d8;
  text-shadow: 5px 5px 7px rgb(3, 39, 122);
  font-size: 2.5rem;
}

/* contenido principal de experiencia */
.expGeneral .seccion1 {
  display: flex;
  justify-content: space-between;
}
.expGeneral .seccion1 .texto {
  width: 50rem;
}
.expGeneral .seccion1 .texto h2 {
  color: #fff;
  font-size: 3.5rem;
}
.expGeneral .seccion1 .texto p {
  margin: 1rem 0;
  color: #4288d8;
  font-size: 1.7rem;
  font-style: italic;
}
.expGeneral .seccion1 .imagen {
  line-height: 20rem;
  margin: auto;
}
.expGeneral .separador {
  height: 30px;
  border-style: solid;
  border-color: #BFBFBF;
  border-width: 2px 0 0 0;
  border-radius: 20px;
  text-align: center;
}
.expGeneral .separador:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.expGeneral .separador:after {
  content: "⇓";
  color: #DC5500;
  display: inline-block;
  position: relative;
  top: -0.3em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
.expGeneral .seccion2 {
  display: flex;
  justify-content: space-between;
}
.expGeneral .seccion2 .imagen {
  line-height: 20rem;
  margin: auto;
}
.expGeneral .seccion2 .texto {
  width: 50rem;
}
.expGeneral .seccion2 .texto h2 {
  color: #fff;
  font-size: 3.5rem;
}
.expGeneral .seccion2 .texto p {
  margin: 1rem 0;
  color: #4288d8;
  font-size: 1.7rem;
  font-style: italic;
}

@media (max-width: 768px) {
  .expGeneral .seccion1 .texto {
    margin-top: 2.5rem;
  }
  .expGeneral .seccion1 .texto h2 {
    font-size: 2.5rem;
  }
  .expGeneral .seccion1 .texto p {
    font-size: 1.3rem;
  }
  .expGeneral .seccion2 .texto {
    margin-top: 2.5rem;
  }
  .expGeneral .seccion2 .texto h2 {
    font-size: 2.5rem;
  }
  .expGeneral .seccion2 .texto p {
    font-size: 1.3rem;
  }
}
/* contenido principal de formacion */
.formGeneral main {
  display: flex;
  justify-content: space-between;
}
.formGeneral main .card {
  background-color: #1B2845;
  margin: 5rem auto;
  width: 20rem;
  text-align: center;
}
.formGeneral main .card img {
  height: 8, 625rem;
}
.formGeneral main .card div {
  margin-top: 1rem;
  width: 18rem;
  text-align: center;
}
.formGeneral main .card div p {
  color: #fff;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

@media (max-width: 576px) {
  .formGeneral main {
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
  }
  .formGeneral main .card {
    margin: 1.5rem 0;
  }
}
/* contenido principal de contacto */
.contGeneral main {
  margin-top: 3rem;
}
.contGeneral main .formulario div {
  margin-bottom: 1.2rem;
}
.contGeneral main .formulario div textarea {
  height: 20rem;
}
.contGeneral main .formulario button {
  color: #4288d8;
  text-transform: uppercase;
}
.contGeneral main .formulario button:hover {
  color: black;
}
.contGeneral main .t-formulario {
  text-align: left;
}
.contGeneral main .t-formulario span {
  color: #fff;
  font-size: 1.7rem;
}

@media (max-width: 576px) {
  .contGeneral main .t-formulario span {
    font-size: 1.3rem;
  }
}
/* contenido principal de adicional */
.adiGeneral main div {
  padding: 3rem 0 1rem;
}
.adiGeneral main div iframe {
  height: 50vh;
}
.adiGeneral main p {
  color: #fff;
  padding: 1rem;
  font-style: italic;
  font-size: 20px;
}

/* pie de pagina */
.footGeneral footer {
  padding: 1rem 0;
}
.footGeneral footer h6 {
  color: #fff;
  font-style: italic;
}
.footGeneral footer h6::after {
  content: "2022";
  color: #fff;
}
.footGeneral footer div a {
  margin: 1rem;
}
.footGeneral footer div a i {
  color: #fff;
}

body {
  background: radial-gradient(rgb(1, 1, 63), #000000);
  height: 100vh;
  font-family: "Barlow", sans-serif;
}

/*# sourceMappingURL=estilo.css.map */
