@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

header a h1 {
    margin-left: 1.75rem;
    font-size: 2rem;
}

footer {
    padding: 1rem 0;
}

.colorFondo {
    background-color: #1B2845;
}

.colorCuerpo {
    background-color: #274060;
}

.name {
    color: #5899E2;
}
.fuente {
    color: #65AFFF;
}

img {
    width: 80px;
    margin: 0;
    padding: 0;
}

.padre {
    display: grid;
    grid-template-areas: 
    "hijo1"
    "hijo2";
}

.hijo1 {
    grid-area: hijo1;
}

.hijo2 {
    grid-area: hijo2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.fotoPerfil {
    width: 400px;
}

i {
    font-size: 20px;
    padding: 5px;
}

.tarjeta {
    width: 260px;
}

.escala {
    transition: all .5s;
}
.escala:hover {
    transform: scale(1.5);
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
}

hr {
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: #335C81;
    margin-bottom: 50px;
}

.h-card {
    height: 170px;
}

.w-card {
    width: 18rem;
}

.formulario, .t-formulario {
    padding: 50px;
}

@media (min-width: 576px) {
    .formacion .card {
        margin-bottom: 20px;
        width: 16rem;
    }

}

@media (min-width: 768px) {
    .formulario {
        width: 500px;
        margin-left: 100px;
    }    
}

@media (min-width: 992px) {
    .formulario {
        width: 500px;
        margin-left: 250px;
    }
}


@media (min-width: 1200px) {
    .contacto {
        display: flex;
        justify-content: space-around;
    }

    .formulario {
        width: 100rem;
        margin-left: 0px;
    }
}