/* contenido principal de adicional */

.adiGeneral {

    main {

        div {
            padding: 3rem 0 1rem;
            
            iframe {
                height: 50vh;
            }
        }

        p {
            color: $fuente;
            padding: 1rem;
            font-style: italic;
            font-size: 20px;
        }
    }
}
