/* contenido principal de contacto */

.contGeneral {
    background-color: $colorCuerpo;

    main {
        margin: 3rem 0;

        .formulario {

            div {
                margin-bottom: 1rem;

                textarea {
                    height: 14.5rem;
                }
            }
        }

        .t-formulario {
            text-align: left;

            span {
                color: $fuente;
                font-style: italic;
                font-size: 20px;
            }
        }
    }
}

