/* contenido principal de contacto */

.contGeneral {

    main {
        margin-top: 3rem;

        .formulario {

            div {
                margin-bottom: 1.2rem;

                textarea {
                    height: 20rem;
                }
            }

            button {
                color: $nombre;
                text-transform: uppercase;
                
                &:hover {
                    color: black;
                }

            }

           
        }

        .t-formulario {
            text-align: left;

            span {
                color: $fuente;
                font-size: 1.7rem;
            }

            .redes {
                @include flex;
                justify-content: center;
                font-size: 5rem;
                margin-top: 2rem;

                i {
                    margin: 4.5rem 1rem 1rem 3rem;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .contGeneral {
        main {
            .t-formulario {
                span {
                    font-size: 1.3rem;
                }
            }
        }
    }
}