/* contenido principal de experiencia */

.expGeneral {

    .seccion1 {
        @include flex;
        justify-content: space-between;

        .texto {
            width: 50rem;

            h2 {
                color: $fuente;
                font-size: 3.5rem;
            }

            p {
                margin: 1rem 0;
                color: $nombre;
                font-size: 1.7rem;
                font-style: italic;
            }
        }

        .imagen {
            line-height: 20rem;
            margin: auto;
        }
    }

    .separador { 
        height: 30px;
        border-style: solid;
        border-color: #BFBFBF;
        border-width: 2px 0 0 0;
        border-radius: 20px;
        text-align: center;
           
        &:before {
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: black;
            border-width: 0 0 1px 0;
            border-radius:20px;
        }
           
        &:after {
            content: '⇓';
            color: #DC5500;
            display: inline-block;
            position: relative;
            top: -0.3em;
            font-size: 1.5em;
            padding: 0 0.25em;
            background: white;
        }
    }

    .seccion2 {
        @include flex;
        justify-content: space-between;

        .imagen {
            line-height: 20rem;
            margin: auto;
        }

        .texto {

            width: 50rem;

            h2 {
                color: $fuente;
                font-size: 3.5rem;
            }

            p {
                margin: 1rem 0;
                color: $nombre;
                font-size: 1.7rem;
                font-style: italic;
            }
        }
    }
}

@media (max-width: 768px) {
    .expGeneral {
        .seccion1 {
            .texto {
                margin-top: 2.5rem;
                h2 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1.3rem;
                }
            }
        }

        .seccion2 {
            .texto {
                margin-top: 2.5rem;
    
                h2 {
                    font-size: 2.5rem;
                }
    
                p {
                    font-size: 1.3rem;
                }
            }
        }
    }
}