/* contenido principal de experiencia */

.expGeneral {
    background-color: $colorCuerpo;

    .seccion1 {
        @include flex;
        justify-content: space-around;
        padding: 1.5rem;

        .texto {

            h2 {
                font-style: italic;
                color: $fuente;
            }

            p {
                margin: 1rem 0;
                color: $fuente;
            }
        }

        .imagen {
            @include flex;
            justify-content: center;
            margin: 1.5rem 0;
            
            img {
                width: 16.25rem;
                height: 10rem;
            }
        }
    }

    .seccion2 {
        @include flex;
        justify-content: space-around;
        padding: 1.5rem;

        .imagen {
            @include flex;
            justify-content: center;
            margin: 1.5rem 0;
            
            img {
                width: 16.25rem;
                height: 10rem;
            }
        }

        .texto {

            h2 {
                font-style: italic;
                color: $fuente;
            }

            p {
                margin: 1rem 0;
                color: $fuente;
            }
        }
    }
}