/* pie de pagina */

.footGeneral {
    // background-color: $colorFondo;
    
    footer {
        padding: 1rem 0;
        
        h6 {
            color: $fuente;
        }
        
        div {
            a {
                margin: 1rem;

                i {
                    color: $fuente;
                }
            }
        }
    }
}