/* pie de pagina */

.footGeneral {
    

    footer {
        padding: 1rem 0;
        
        h6 {
            color: $fuente;
            font-style: italic;

            &::after {
                content: "2022";
                color: $fuente;
            }
        }
        
        div {
            a {
                margin: 1rem;

                i {
                    color: $fuente;
                }
            }
        }
    }
}