/* contenido principal de formacion */

.formGeneral {

    main {
        @include flex;
        justify-content: space-between;

        .card {
            background-color: $colorFondo;
            margin: 5rem 0;
            width: 20rem;
            text-align: center;

            img {
                height: 8,625rem;
            }

            div{
                margin-top: 1rem;
                width: 18rem;
                text-align: center;

                p{
                    color: $fuente;
                    font-style: italic;
                    font-size: 1.2rem;
                    margin-bottom: 4rem;
                }
            }
        }
    }
}