/* contenido principal de formacion */

.formGeneral {

    main {
        @include flex;
        justify-content: space-between;
        
        
        .card {
            background-color: $colortarjeta;
            margin: 5rem auto;
            width: 20rem;
            text-align: center;
            
            img {
                height: 8,625rem;
            }

            div{
                margin-top: 1rem;
                width: 18rem;
                text-align: center;

                p{
                    color: $fuente;
                    font-style: italic;
                    font-size: 1.2rem;
                    margin-bottom: 4rem;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .formGeneral {
        main {
            flex-direction: column;
            align-items: center;
            margin-top: 2.5rem;

            .card {
                margin: 1.5rem 0;
            }
        }
    }
}