/* encabezado y barra de navegacion */

.navGeneral {

    header {
        @include flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0px;

        a {
            @include flex;
            align-items: flex-end;
            text-decoration: none;

            h1 {
                color: rgba(74, 74, 210, 0.978);
                font-size: 25px;

                img {
                    height: 50px;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        ul {
            li {
                a {
                    font-family: 'Barlow', sans-serif;;
                    color: $fuente;
                    transition: all .5s;
                    font-size: 1.5rem;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }  
        }
    }

}