/* encabezado y barra de navegacion */

.navGeneral {
    background-color: $colorFondo;

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0px;

        a {
            display: flex;
            align-items: flex-end;
            text-decoration: none;

            h1 {
                margin-left: 1.75rem;
                font-size: 2rem;
                color: $fuente;
                text-transform: uppercase;
            }
        }

        ul {
            li {
                a {
                    color: $fuente;
                    transition: all .5s;

                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }  
        }
    }

}