/* contenido principal del index */

.indexGeneral {
    text-align: center;
    // background-color: $colorCuerpo;
    height: calc(100vh - 25px);
    
    main {
        @include flex;
        justify-content: center;
        
        .seccion1 {
            @include flex;
            justify-content: center;
            margin: 1.5rem 0;
            
            img {
                width: 30rem;
                height: 30rem;
                border-radius: 50%;
            }
        }
        
        .seccion2 {
            
            .hijo1 {
                color: $fuente;
                padding: 3rem 0;
                margin: 1rem 0;
                font-style: italic;
                font-size: 25px;
                
                .nombre {
                    color: $nombre;
                    text-shadow: 5px 2px 15px white; 
                }
            }
                
        }
    }   
}
    
