/* contenido principal del index */

.indexGeneral {
    text-align: center;
    
    main {
        @include flex;
        justify-content: center;
        
        .seccion1 {
            @include flex;
            justify-content: center;
            margin: 1.5rem 0;
            
            img {
                height: 25rem;
                border-radius: 50%;
            }
        }
        
        .seccion2 {
            
            .hijo1 {
                color: $fuente;
                padding: 3rem 0;
                margin: 1rem 0;
                font-size: 25px;
                font-weight: normal;
                
                .nombre {
                    color: $nombre;
                    text-shadow: 5px 5px 7px white;
                    font-size: 2.5rem; 
                }
            }
                
        }
    }   
}
    